<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <section class="form-container">
        <a href="index.html" class="back-btn"><img src="../img/back-btn.png" alt="Back button to home"></a>
        <img src="../img/rr-logo-signup.png" alt="Radium rocket icon" class="icon">
        <form id="sign-up-form" action="">
          <fieldset class="form-group">
            <label class="form-label" for="name">
              Name
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="name" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="lastname">
              Last Name
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="lastname" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="dni">
              DNI
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="dni" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="date-born">
              Date of birth
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="date-born" type="date" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="tel">
              Telephone
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="tel" type="tel" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="direction">
              Direction
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="direction" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="city">
              City
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="city" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="postal-code">
              Postal Code
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="postal-code" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="email">
              Email
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="email" type="text" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="password">
              Password
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="password" type="password" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <fieldset class="form-group">
            <label class="form-label" for="repeated-password">
              Repeat password
              <img src="../img/icon-question.png" alt="question icon">
            </label>
            <input id="repeated-password" type="password" class="form-input" placeholder="Complete the field">
            <span class="errorMessage"></span>
          </fieldset>
          <div class="submit-terms">
            <fieldset id="terms-and-conditions">
              <a href="#">Accept terms and conditions ?</a>
              <input id="check-terms" class="check" type="checkbox">
            </fieldset>
            <input id="btn-submit" type="submit" value="Register">
            <div class="nav-options">
              <a href="login.html">Already have an account? Sign In</a>
              <a href="index.html">Back to home</a>
            </div>
          </div>
        </form>
      </section>
      <section class="side-background">
        <img src="../img/rocket-logo.png" alt="Radium rocket logo">
      </section>
    </div>
    <div id="modal-msg" class="modal">
      <div class="modal-content">
        <div class="modal-title">
          <p></p>
          <span class="modal-close">&times;</span>
        </div>
        <div class="content">
          <p id="modal-details"></p>
        </div>
        <div class="modal-buttons">
          <button id="btn-ok" type="button">OK</button>
        </div>
      </div>
    </div>
    <script src="../js/sign-up.js"></script>
  </body>
</html>