.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  background: #373867;
}

.header .desktop {
  display: none;
}

.header .hamburger {
  width: 47px;
  height: 47px;
}

.header h1 {
  margin-right: 31px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  color: #AACE9B;
}