.main {
  display: flex;
  flex-direction: column;
}

.health-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.health-info h2 {
  padding-top: 63px;
  font-size: 30px;
}

.health-info img {
  width: 390px;
  height: 330px;
}

.health-info P {
  width: 349px;
  height: 138px;
  padding-top: 21px;
  order: 1;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.help-guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 684px;
  margin-top: 69px;
  background: url('../img/man-fit.jpg') no-repeat;
  background-position: center;
}

.help-guide h2 {
  width: 279px;
  font-size: 40px;
  color: #EBECF0;
}

.btn-small:nth-of-type(1) {
  margin-top: 39px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 38px;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  margin-top: 35px;
}

.contact-form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 15px;
  color: #373867;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;;
}

.contact-form input {
  margin-left: 24px;
  margin-right: 33px;
}

.contact-reason {
  display: flex;
  flex-direction: column;
  margin-top: 43px;
}

.contact-reason label:nth-of-type(1) {
  margin-left: 35px;
  margin-bottom: 29px;
}

.contact-reason label {
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 27px;
}

.contact-message textarea {
  width: 330px;
  height: 104px;
  margin: 0px 30px;
  resize: none;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.contact-message textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.5;
  padding: 10px 16px;
  color: #373867;
}

.contact-form button {
  height: 27px;
  margin-left: 15px;
  margin-top: 24px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: #373867;
}

.contact-form button[type="submit"] {
  background: #AACE9B;
  width: 166px;
}

.contact-form button[type='reset'] {
  width: 96px;
  background: #FFFFFF;
  border: 1px solid #373867;
}

.history {
  margin-top: 71px;
}

.history h2 {
  margin-bottom: 45px;
}

.history .content {
  height: 431px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/girl-fit.png') no-repeat;
  background-position: center;
}

.history p {
  width: 336px;
  height: 295px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.activity-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 47px;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.activities .activities-list {
  margin-top: 41px;
}

.activities-list .list-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.list-item span{
  margin-left: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.activities img {
  width: 48px;
  height: 38px;
}

.memberships {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memberships h2 {
  margin-bottom: 40px;
}

.member-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.member-type img {
  margin-right: 25px;
  width: 36px;
  height: 36px;
}

.content-type {
  color: #000;
}

.content-type h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.member-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  list-style-type: '-';
}