* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #373867;
  overflow-x: hidden;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 36px;
  border-radius: 5px;
  border: 1px solid #373867;
  background-color: #EBECF0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  color: #373867;
}

.is-primary {
  background-color: #373867;
}

.is-primary {
  color: #AACE9B;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

img {
  width: 100%;
}

.input {
  padding-left: 15px;
  border-radius: 20px;
  border: 1px solid #000;
}

.input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(55, 56, 103, 0.43);
}

.input-small {
  height: 28px;
}

.main-container {
  width: 100%;
}

@media (min-width: 480px) {
  body {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    margin-left: 20%;
  }
}